:host {
  padding: 0px;
  margin: 0px;
  width: 100wh;
  height: 100vh;
}

.chat-container {
  padding-left: 30px;
  padding-right: 30px;
  input {
    margin-right: 10px;
    padding: 6px;
  }
  button {
    padding: 6px;
  }
}
.form {
  margin-top: 10px;
}
.header {
  padding: 20px;
  background-color: rgb(49, 49, 49);
  color: white;
  margin-bottom: 30px;
}

.mensagem {
  margin-bottom: 3px;
}

.pGreen {
  color: green;
  background-color: rgb(239, 235, 230);
}
